VITE_APP_ORIGIN=http://localhost:5173
VITE_APP_DOMAIN=localhost:5173
VITE_APP_MAINNET_PROVIDER_URL=<eth-mainnet-provider-url>
VITE_APP_MAINNET_ENS_DOMAIN=<ens-domain>
VITE_APP_JAW_API_KEY=<jaw-api-key>
VITE_APP_REOWN_PROJECT_ID=<reown-project-id>
VITE_APP_ENV=development